* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

body {
    background: #E6E9E0;
    background: url('../../img/background.jpg');
    background-size: 100%;
}

footer {
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    background: rgba(20,20,20,0.6);
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */
.splash-container {
    z-index: 1;
}

.splash {
    /* absolute center .splash within .splash-container */
    margin: auto;
    position: absolute;
    top: 20em; left: 0; bottom: 0; right: 0;
    background: rgba(20,20,20,0.6);
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: #EBEBEB;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    text-align: center;
}

.splash-subhead {
    letter-spacing: 0.05em;
    opacity: 0.8;
    text-align: center;
}

.instructions {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

.splash-subhead, .instructions, a {
    color: #D8D8D8;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    .splash-head {
        font-size: 250%;
    }

    footer div {
        float: right;
    }

    footer .bg {
        margin-left: 1em;
        margin-right: 0.5em;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

@media (max-width: 48em) {
    .instructions {
        width: 20em;
    }

    footer {
        height: 4em;
    }
}